<html>
<head>
	<meta name="decorator" content="atl.popup">
	<style type="text/css">
		// TODO: extract to a resource
		.users-list tr {
			height: 48px;
		}

        #userSearchForm {
            padding: 12px;
        }
	</style>
</head>
<body>
<div class='aui-dialog'>

<form action="#" method="post" id="userSearchForm" class="aui unsectioned">
    <h2>$i18n.getRawText("smarter-user-picker-search-panel.title")</h2>
    <div class="field-group">
        <label for="h-query" accesskey="u">$i18n.getRawText("smarter-user-picker-gadget.label")</label>
        <input class="text" type="text" id="h-query" name="query" title="search query">
    </div>
    <div class="field-group">
        <p id="userSearchResultMessage">
            $i18n.getText("smarter-user-picker-search-panel.empty-query")
        </p>
    </div>

    <table id="userSearchResults" class="aui">
      <thead>
        <tr>
          <th width="48px" id="userSearchResults-avatar"></th>
          <th id="userSearchResults-name">$i18n.getRawText("smarter-user-picker-search-panel.result-headers.fullname")</th>
        </tr>
      </thead>
      <tbody class="users-list">
        <!-- results will appear here -->
      </tbody>
    </table>
</form>

<script type="text/javascript" charset="utf-8">
	AJS.toInit(function () {
		 // AJS.$ contains a bogus autocomplete component that is deprecated. It
		 // does not allow to customize the results rendering as the jQuery.autocomplete()
		 // component does, so we display them in a table using a callback
	    component = AJS.$("#h-query");
	    var baseUrl = "$applicationProperties.getBaseUrl()";   // loaded from the context 
	    enableSmartAutocompletion(component, baseUrl, displayResults, "LARGE");
	});
	
	function displayResults(rawChoices) {
		var MAX_RESULTS = 5;
	    var baseUrl = "$applicationProperties.getBaseUrl()";   // loaded from the context 
	    var choices = AJS.$(rawChoices);
		var messageContainer = AJS.$("#userSearchResultMessage");
		if (choices.size() > 0) {
			// ideally, we should use a parameter to the localised message
			messageContainer.text('$i18n.getText("smarter-user-picker-search-panel.results-count") ' + choices.size());
		} else if(AJS.$("#h-query").val().trim().length > 0) {
			messageContainer.text('$i18n.getText("smarter-user-picker-search-panel.no-results")');
		} else {
			messageContainer.text('$i18n.getText("smarter-user-picker-search-panel.empty-query")');
		}
		var tbody = AJS.$("#userSearchResults tbody");
		tbody.empty();
		choices.slice(0,MAX_RESULTS).each(function (index, user) {
			var row = AJS.$("<tr>");
            var avatarImg = AJS.$("<img>", {"src": user.avatarUrl});
            var avatarCell = AJS.$("<td>").attr("headers", "userSearchResults-avatar").append(avatarImg);
            var userLink = AJS.$("<a>").attr("href", baseUrl + "/secure/ViewProfile.jspa?name=" + encodeURIComponent(user.name)).text(user.displayName);
			var nameCell = AJS.$("<td>").attr("headers", "userSearchResults-name").append(userLink);
			row.append(avatarCell);
			row.append(nameCell);
			tbody.append(row);		
		});
	}
</script>

</div>
</body>
</html>
